@tailwind base;
@tailwind components;
@tailwind utilities;




@keyframes reveal {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.typewriter {
  overflow: hidden; /* Ensures the text is initially hidden */
  word-break: normal;
}

.typewriter span {
  display: inline-block;
  visibility: hidden;
  animation: reveal 0.1s forwards; /* Apply the animation */
}

#container{
  height: calc(100% - 105px);
}

#cool{
  height: calc(100% - 100px);
}

#header-desktop{
  display: flex;
}

#header-mobile{
  display: none;
}

@media screen and (max-width:800px){
  #container{
   flex-direction: column;
   align-items: start;
   width: 100vw;
  }

  #characters-section{
    width: 100%;
    height: 60%
  }

  #messages-section{
    width: 100%;
    height: 40%
  }
}

@media screen and (max-width:600px) {
  #main{
    height: calc(100vh - 100px);
  }

  #container{
    height: calc(100% - 60px);
  }
  
  #cool{
    height: calc(100% - 60px);
  }

  #feedback{
    height: 100%;
  }

  #header-desktop{
    display: none;
  }
  
  #header-mobile{
    display: block;
  }
}

/* .dark #main, .light #main {
  transition: background-color 0.1s ease;
} */

html{
  background-color: #F1F5F9;
  overflow-x: hidden;
}

html.dark, .dark main {
  background-color: rgb(30 41 59) !important;
  color: white;

}

.dark #header, .dark #characters, .dark #messages-section, .dark #feedback form{
  background-color: rgb(15 23 42);
}
.dark #messages-kept img:first-child, .dark #messages-kept:hover {
  background-color: rgb(71 85 105);
}
.dark #character-background, .dark #messages-kept:hover{
  background-color: rgb(51 65 85);
}
.dark #characters-border, .dark #messages-kept{
  border-color: rgb(2 6 23);
}
.dark #user-textbubble{
  background-color: #1E5C49
}
.dark #bot-textbubble{
  background-color: #5A5E69
}
.dark #form, .dark #feedback input, .dark #feedback textarea {
  background-color: #287B62;
}