@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes reveal {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.typewriter {
  overflow: hidden; /* Ensures the text is initially hidden */
  padding: 7px;
  word-break: normal;
}

.typewriter span {
  display: inline-block;
  visibility: hidden;
  animation: reveal 0.1s forwards; /* Apply the animation */
}
